<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
  <header class="header">
    <div class="container">
      <a href="#">
        <img src="./assets/images/logo-white.png" alt="">
      </a>  
      
      <ul>
        <li><a href="#">系列鏡框</a></li>
        <li><a href="#">門市據點</a></li>
        <li><a href="#">部落格</a></li>
        <li><a href="#">常見問題</a></li>
      </ul> 
    </div>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <div class="menumobile">
      <div class="menulist">
        <ul class="menu">
          <li><a href="#">首頁</a></li>
          <li><a href="#">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
        <ul class="img-fbigline">
          <li><a href="#"><img src="./assets/images/ic-social-fb.png" alt=""></a></li>
          <li><a href="#"><img src="./assets/images/ic_social_ig.png" alt=""></a></li>
          <li><a href="#"><img src="./assets/images/ic_social_line.png" alt=""></a></li>
        </ul>
      </div>
      <div class="phone">
        <span class="material-symbols-outlined">
          call
          </span>
        <p>0800-000-000</p>
      </div>
    </div>
      <div class="mail">
        <span class="material-symbols-outlined">
          mail
          </span>
        <p>glasses@business.com</p>
      </div>
      
      <div class="later">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
        <p>
          
          <span>隱私權政策</span>
          服務條款
        </p>
      </div>
    </div>


    
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
