@import "reset";

$hfcolor:#AA0601;
$hhcolor:#650300;
html {
    box-sizing: border-box;
  }
  *,*::before,*::after {
    box-sizing: inherit;
  }
  
.container{
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
  
}
.header {
  background-color: $hfcolor;
  height: 300px;
  img{
    width: 80px;
    height: 49px;
  }
  .head{
          display: flex;
          justify-content: space-between;

  }
  ul{
    display: flex;

  }


}




.footer {
  background-color: $hfcolor;
  

}


.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $hfcolor;
  }
}
